/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#map { 
	height: 500px;
	margin-top: 100px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
 }



.hero-unit {
	margin-top: -200px;
	width: 100%;
	height: 580px;
	background-image: url("/assets/international.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	z-index: -1;
}

.hero-hugs {
	padding-top: 200px;
	margin-top: 180px;
	margin-left:375px;

}



.hero-hugs-child {
	padding: 10px;
	color: white;
	background-color: rgba(8, 41, 68, 0.49); 
	width: 600px;
	border-radius: 10px;

	
}


/*.myinput {
	width: 400px;
}*/


.nav-bar {
	width: 100%;
	list-style-type: none;
	padding-top: 1em;
	padding-bottom: 2em;
	margin-top: 0;
	z-index: 1; 
}

.list-item {
	margin-right: 3em;
	display: inline;
}