<link href='https://fonts.googleapis.com/css?family=Cabin:400,600' rel='stylesheet' type='text/css'>
<div class="hero-unit">
	<div class="hero-hugs">
		<div class="hero-hugs-child">
		  <h2>What's the</h2><h1>Word On The Street?</h1>
		  <p>
		
		  		<form action="/map">
				  <div class="form-group col-xs-10">
				    <input type="text" class="form-control" name="q" id="new-search" placeholder="Enter Nationality">
				    <input type="hidden" class="form-control" name="latitude" id="lat">
				    <input type="hidden" class="form-control" name="longitude" id="lon">
				  </div>
				  <button type="submit" class="btn btn-default" id="submit" disabled="disabled">Submit</button>
				</form>
		
	  	  </p>
	  	  <h3>Find Your International Community Locally</h3>
	  </div>
	</div>
</div>


<script type="text/javascript">
$(function () {
	if ("geolocation" in navigator) {
	  getLocation();
	} else {
	  alert("Geolocation is not available")
	}	
})
</script>

