<div class="hero-unit">
	<div class="hero-hugs">
		<div class="hero-hugs-child">
		  <h1>What's the <strong>Word On The Street?</strong></h1>

		  <h2>Find Your <em>International</em> Community <em>Locally</em></h2>
		  <p>
		
		  		<form action="/map">
				  <div class="form-group col-xs-10">
				    <input type="text" class="form-control" name="q" id="new-search" placeholder="Enter Nationality">
				    <input type="hidden" class="form-control" name="latitude" id="lat">
				    <input type="hidden" class="form-control" name="longitude" id="lon">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
		
	  	  </p>
	  </div>
	</div>
</div>

<script type="text/javascript">
$(function () {
	if ("geolocation" in navigator) {
	  getLocation();
	} else {
	  alert("Geolocation is not available")
	}	
})
</script>

