<link href='https://fonts.googleapis.com/css?family=Cabin:400,600' rel='stylesheet' type='text/css'>
<!-- <div class="whirl"> -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '717127095084670',
          xfbml      : true,
          version    : 'v2.4'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
      
    </script>

	<div class="hero-unit">
<!-- 		<div class="hero-hugs"> -->
			<!-- <div class="hero-hugs-child"> -->
			  
			  <p class="hero-text">
				What's the<br />Word On The Street?
			  		<form action="/map" class="main-search-form">
					  <div class="form-group col-lg-10">
					    <input type="text" class="form-control" name="q" id="main-search" placeholder="Enter Nationality">
					   <!--  <input type="string" class="form-control" name="add" id="address-search" placeholder="Enter City or Address"> -->
					    <input type="hidden" class="form-control" name="latitude" id="lat">
					    <input type="hidden" class="form-control" name="longitude" id="lon">
					  </div>
					  <div>
					  <button type="submit" class="btn col-lg-10 main btn-default" id="submit" disabled="disabled">Submit</button>
					  </div>
					</form>
		  	  </p>
		  <!-- </div> -->
		<!-- </div> -->
	</div>

	<div class="container why-section">
	<h1> What's the Word on the Street<br />...and why do I care?</h1>
	<h3>Word on the Street receives a user's geolocation in order to map out all of the 'happenings' in their international community! It's all about accessibility. Get the 'gist' of whatever is going on in your neighborhood or city at a moment's notice: tweets, instagrams, businesses, restaurants, and meetups.</h3>
	<hr />
	<p style="font-size: 32px; word-spacing: 40px;">Their World. Your Hood.</p><br />
	<ul class="logo-list">
		<li class="logo-list-item"><img src="/assets/square-yelp.png" width="50px"></li>
		<li class="logo-list-item"><img src="/assets/square-meetup.png" width="50px"></li>
		<li class="logo-list-item"><img src="/assets/insta.png" width="70px"></li>
		<li class="logo-list-item"><img src="/assets/twitter.png" width="50px"></li>
	</ul>
<!-- </div> -->
<hr />


<script type="text/javascript">
$(function () {
	if ("geolocation" in navigator) {
	  getLocation();
	} else {
	  alert("Geolocation is not available")
	}	
})
</script>



